<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Yahoo">

<test name="Yahoo Mail Test">
    <classes>
        <class name="test.YahooTest" ></class>  
    </classes>
</test>

<test name="Yahoo News Test">
    <classes>
        <class name="test.YahooNewstest" ></class>  
    </classes>
</test>

<test name="Yahoo Register Test">
    <classes>
        <class name="test.YahooRegistrationTest" ></class>  
    </classes>
</test>

</suite>
